<h1>Alert Dismissing</h1>

<div class="alert">
    <p class="alert-close">X</p>
    <p>Holy guacamole! You should check in on some of those fields below.</p>
</div>

<h1>Collapse</h1>

<button class="btn collapse-btn">Botón Collapse</button>
<h1>Collapse Accordion</h1>

