<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<button id="alerta">Apreta Aquí</button>

<p id = "parrafo">parrado de prueba</p>
<button id="slide">Apreta Aquí</button>

<h3 id = "titulo1">Ver primer parrafo</h3>
<p class="oculto" id = "parrafo1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque distinctio esse sunt et excepturi. Pariatur repellat modi iusto veniam nemo blanditiis. Adipisci, ipsum! Alias cum error maiores officiis, saepe est?</p>

<h3 id = "titulo2">Ver segundo parrafo</h3>
<p class="oculto" id = "parrafo2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque distinctio esse sunt et excepturi. Pariatur repellat modi iusto veniam nemo blanditiis. Adipisci, ipsum! Alias cum error maiores officiis, saepe est?</p>

<h3 id = "titulo3">Ver tercer parrafo</h3>
<p class="oculto" id = "parrafo3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque distinctio esse sunt et excepturi. Pariatur repellat modi iusto veniam nemo blanditiis. Adipisci, ipsum! Alias cum error maiores officiis, saepe est?</p>



